.jumbotron
  %h2
    Relp Helps You Search Like Yelp
  %h3
    Search and rate your favorite foodie now

%p#notice= notice
%h1 Listing Restaurants
%table.table.table-hover.table-condensed
  %thead
    %tr
      %th Name
      %th Address
      %th Phone
      %th Website
      - if user_signed_in? && current_user.admin?
        %th{:colspan => "2"}
  %tbody
    - @restaurants.each do |restaurant|
      %tr
        %td= link_to restaurant.name, restaurant
        %td= restaurant.address
        %td= restaurant.phone
        %td= link_to restaurant.website, restaurant.website
        - if user_signed_in? && current_user.admin?
          %td= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-success"
          %td= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
%br/

- if user_signed_in? && current_user.admin?
  = link_to 'New Restaurant', new_restaurant_path, class: "btn btn-info"

= image_tag "https://s3-us-west-2.amazonaws.com/reslp/hong-kong-skyline-pen2.jpg", class: "img-responsive"
