%p#notice= notice

= image_tag @restaurant.image_url
%p
  %strong Name:
  = @restaurant.name
%p
  %strong Address:
  = @restaurant.address
%p
  %strong Phone:
  = @restaurant.phone
%p
  %strong Website:
  = @restaurant.website

= link_to 'Write Review', new_restaurant_review_path(@restaurant), class: "btn btn-primary"

= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link"
|
\#{link_to 'Back', restaurants_path, class: "btn btn-link"}
