.row
  .col-sm-3
    %p#notice= notice

    = image_tag @restaurant.image_url
    %h2
      = @restaurant.name

    %div{class: "star-rating", "data-score" => @avg_rating}
    %p
      = "#{@reviews.length} reviews"
    %p
      %strong Address:
      = @restaurant.address
    %p
      %strong Phone:
      = @restaurant.phone
    %p
      %strong Website:
      = link_to @restaurant.website, @restaurant.website

    = link_to 'Write Review', new_restaurant_review_path(@restaurant), class: "btn btn-primary"

  .col-sm-9
    - if @reviews.blank?
      %h3 No reviews yet. Maybe be the first to write one?
    -else
      - @reviews.each do |review|
        %div{class: "star-rating", "data-score" => review.rating}

        %p= h(review.comment).gsub(/\n/, '<br/>').html_safe

= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link"
|
\#{link_to 'Back', restaurants_path, class: "btn btn-link"}

:javascript
  $('.star-rating').raty({
    path: 'https://s3-us-west-2.amazonaws.com/reslp/stars/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
      }
    });
